/* CSS Document */
/*
*{
	border:1px solid #ff0000;
}

div{
	border:1px  solid #ff0000;
}

.one{
	border:1px  solid #ff0000;
}
#dv{
	border:1px  solid #00ff00;
}*/

.one,#dv,a{
	border:1px solid #66CCFF;
}

#us{
	border:5px solid #66CCFF;
}
#us li{
	border:1px solid #ff0000;
}
















