/* CSS Document */
div{
	border:1px solid #ff0000;
	width:400px;
	height:400px;
	font-size:20px;
	/*color:#00CCFF;
	font-style:italic;
	font-weight:bold;*/
	font-family:"隶书";
	text-align:center;
	line-height: 25px;
}
#us{
	border:1px  solid #ff0000;
	/*list-style:none;*/
	list-style-image:url(../imgs/flag1.jpg);
}
#dv2{
	text-decoration:line-through;
}
a{color:#FF0000; font-weight:bold; text-decoration:none;}
a:hover{ color:#00FF00; text-decoration:underline;}
a:active{color:#00FF00; text-decoration:underline;}
a:visited{ color:#FF0000; font-weight:bold; text-decoration:none;}















