/nbproject/private/
nbproject/private/private.xml
nbproject/private/config.properties
15ext/nodejs/nbproject/private/private.xml
15ext/nodejs/nbproject/private/private.properties
/14_pro/source/nbproject/private/
/15ext/nodejs/demo12/node_modules/