/*
reset 复位
作用：把各个浏览器兼容问题 做统一。
经过 reset 后， 页面元素的默认属性，在不同浏览器应该达到了统一。
*/

* {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: "微软雅黑";
    color:#646464;
}
a{
	 text-decoration: none; 
}
a:hover{
	color: #ff2832;
}
img{
	 border: none;
}
ul{
	list-style: none;
}

.clear{
	clear: both;
}

body{
	padding-bottom: 20px;
}
