<IfModule mod_rewrite.c>
RewriteEngine ON
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ /index.php?/$1 [L]
#RewriteRule ^(.*)$ index.php [L,E=PATH_INFO:$1]
#RewriteRule (.+)  index.php/$1
#RewriteRule (.+)  index.php?/$1
</IfModule>