<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
</head>
<style type="text/css">
	*{
		font-size:12px;
		line-height:25px;
	}
</style>
<body>
<table align="center" width="120" border="1" cellpadding="0" cellspacing="0">
	<tr>
		<td>部门管理</td>
	</tr>
	<tr>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="deptAdd.php"  target="rightFrame">部门添加</a></td>
	</tr>
	<tr>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="deptList.php" target="rightFrame">部门列表</a></td>
	</tr>
	<tr>
		<td>负责人管理</td>
	</tr>
	<tr>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="leaderAdd.php" target="rightFrame">负责人添加</a></td>
	</tr>
	<tr>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="leaderList.php" target="rightFrame">负责人列表</a></td>
	</tr>
	<tr>
		<td>员工管理</td>
	</tr>
	<tr>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="empAdd.php"  target="rightFrame">员工添加</a></td>
	</tr>
	<tr>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="empList.php" target="rightFrame">员工列表</a></td>
	</tr>
</table>
</body>
</html>
