<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf8" />
        <title>无标题文档</title>
        <style>
            *{font-size:12px;line-height: 24px}
            body { margin:0 auto; padding:0; border:0;}
            td { text-align:center;}
            .style1 { font:12px "宋体"; color:#004C7E;}
            a { color:#004C7E; text-decoration:none;}
            a:hover { color:#FFF; text-decoration:underline;}

        </style>
    </head>

    <body>
        <table width="166" height="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td align="center" valign="top" bgcolor="D4ECFC">
                    <table width="162" height="100%" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td background="images/list_top.gif" height="28"></td>
                        </tr>
                        <tr>
                            <td valign="top"><br />
                                <table align="center" width="120" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td>部门管理</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="deptAdd.php"  target="rightFrame">部门添加</a></td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="deptList.php" target="rightFrame">部门列表</a></td>
                                    </tr>
                                    <tr>
                                        <td>负责人管理</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="leaderAdd.php" target="rightFrame">负责人添加</a></td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="leaderList.php" target="rightFrame">负责人列表</a></td>
                                    </tr>
                                    <tr>
                                        <td>员工管理</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="empAdd.php"  target="rightFrame">员工添加</a></td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="empList.php" target="rightFrame">员工列表</a></td>
                                    </tr>
                                </table>                              
                            </td> 
                        </tr>
                        <tr>
                            <td height="25" background="images/list_task.jpg">
                                <span class="style1"><a href="#">任务管理</a></span>
                            </td>
                        </tr>
                        <tr>
                            <td height="25" style="border-bottom:1px dotted #004C7E;">
                                <span class="style1"><a href="#">已经完成交易</a></span>
                            </td>
                        </tr>
                        <tr>
                            <td height="25" style="border-bottom:1px dotted #004C7E;">
                                <span class="style1"><a href="#">到期日期</a></span>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td height="25" background="images/list_task.jpg">
                                <span class="style1"><a href="#">公告栏</a></span>
                            </td>
                        </tr>
                        <tr>
                            <td height="25" background="images/list_task.jpg">
                                <span class="style1"><a href="#">即时消息</a></span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>	
    </body>
</html>
