.right {
    width: 789px;
    float: left;
    margin-left: 10px;
    background: #f1f1f1;
    margin-bottom: 10px;
}
.right.table-form {
    border-collapse: collapse;
}
.table-form tr,
.table-form td,
.table-form th {
    border: 1px solid #ffffff;
    color: #363636;
    font-size: 12px;
}
.table-form tr td {
    padding: 10px 10px
}
.table-form tr th {
    width: 100px;
    text-align: right;
    padding-right: 20px;
}
.table-form .ipt {
    border: 1px solid #cccccc;
    height: 22px;
    width: 180px;
    line-height: 22px;
    padding-left:5px;
}
.table-form caption {
    padding: 10px;
}
.table-form span.msg {
    font-size: 12px;
    background: url('../images/no.png') no-repeat;
    height: 24px;
    line-height: 24px;
    background-position:0 4px;
    padding-left: 20px;
    display: none;
}
.table-form *{ font-size: 12px}
