<{config_load file="config.conf"}>
<{config_load file="config.conf" section="index"}>
<{config_load file="config.conf" section="test"}>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><{#webName#}></title>
</head>

<body>
<{*我是注释内容，页面上不显示*}>
我是模板的首页<{$str}>      <!-- 模板变量  -->
<br />---------配置项的使用---------------<br />
电话号码: <{#webTel#}><br />
a的值:<{#a#}><br />
b的值:<{#b#}><br />
c的值:<{#c#}><br />
</body>
</html>
