<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>国际结算系统 by www.865171.cn</title>
</head>
<style>
* { margin:0 auto; padding:0; border:0;}
</style>
<frameset rows="82,*" frameborder="0" border="0" framespacing="0">
  	<frame src="top.php" name="top" scrolling="No" noresize="noresize" id="top" />
	<frameset cols="150,*" frameborder="0" border="0" framespacing="0">
		<frame src="left.php" name="leftFrame" scrolling="No" noresize="noresize" id="top" />
		<frame src="right.php" name="rightFrame" scrolling="No" noresize="noresize" id="top" />
	</frameset>
</frameset>
<noframes>
</html>
