.hideDom{display:none;}
/*
.top 头部导航
*************************************/
.top{height: 34px;background: #f9f9f9;border-bottom: 1px solid #f2f2f2;}

.top_main{height: 34px;width: 1200px;line-height:34px;/* background: #f2f2f2; */	margin: 0 auto;}
.sendto{width: 90px;float: left;margin-left: 5px;}
.sendto .tocity{width: 45px;float: right;height: 34px;line-height: 34px;}
.cityicon{height: 34px;width: 13px;display: inline-block;background: url(../images/index_02.png) no-repeat center;float: left;}
.sendto .tocity .cityname{height: 34px;display: inline-block;line-height: 34px;float: left;margin-right: 5px;}
.fastlogin{width: 180px;float: left;margin-left: 240px;}
.fastlogin .login{margin-right: 5px;}
.topnav{width: 535px;float: left;margin-left: 10px;}
.topnav li{height: 34px;line-height: 34px;float: left;padding-left:7px;padding-right: 8px;background: url(../images/index_04.gif) no-repeat right;display: block;}
.top_main *{font-family: 宋体,arial;}
.red{color: #fe2e32;font-weight: bold;}
.preicon{width: 12px;height: 34px;float: left;background: url(../images/index_004.gif) no-repeat center;margin-right: 5px;}
.phonedd{background: url(../images/index_08.gif) no-repeat center;}
.suricon{float: right;width: 13px;height: 34px;background: url(../images/index_02.png) no-repeat center;margin-left: 3px;}
.newyork{float: left;margin-left: 10px;width:115px;}
.newyorkicon{background: url(../images/index_10.gif) no-repeat center;width: 24px;}

/*
手机当当 动态
***************************************/
m_dangdang{width:78px;border:2px solid #f9f9f9;height:30px;}
#m_dangdang{border:2px solid #f9f9f9;width:78px;height: 30px;line-height: 34px;float: left;padding-left:7px;padding-right: 8px;background: url(../images/index_04.gif) no-repeat right;display: block;}
#m_dangdang.active{border:2px solid #e9e9e9;width:78px;height: 30px;line-height: 34px;float: left;padding-left:7px;padding-right: 8px;background: #FFFFFF;display: block;position: relative;}
.topnav li .mask{ width:93px; height:2px; position:absolute; left:0px; top:30px; background:white; z-index:10; display:none;}
.topnav li .two{padding-left:20px; width:214px;height:156px;border:2px solid #e9e9e9; background:white; position:absolute; top:30px; left:-2px; display:none;box-shadow:1px 2px 2px rgba(51,51,51,0.3);}
.phone_l{display:none;position:absolute;z-index:100;border:1px solid #efefef;background:url(../images/line_erweima.png) no-repeat 106px 33px;background-color:#fff;box-shadow:1px 2px 2px rgba(51,51,51,0.3);border-top:0px;left:-1px;*top:29px;}
.topnav li .two div{width:100px;height:156px;float:left;}
/*
.header 头部 logo 搜索框等
*************************************/
.header{height: 140px;border-bottom: 3px solid #ff2832;}

.header .headermain{width: 1200px;margin: 0 auto;height: 100%;}
.headertop{height: 100px;}
#logo{width: 200px;height: 100px;float: left;}
#search{height:80px;width: 565px;float: left;margin-left: 162px;	padding-top: 20px;}
.mysearch{ width: 407px;height: 34px;	border:3px solid #ff2832;border-right: none;	float: left;}
.catelistbtn{display: inline-block;width: 96px;height: 34px;float: left;border-top:3px solid #ff2832;border-bottom:3px solid #ff2832;background: #f6f6f6;line-height: 34px;padding-left: 10px;font-size: 16px;}
.catelistbtn span{margin-left: 10px;}
.searchbtn{border: none;}
.hotsearch{width: 516px;margin-top: 10px;}
.hotsearch li{float: left;}
.hotsearch li a{margin-right: 15px;font-family: 宋体,arial}
.adsearch{float: right;margin-top: 10px;font-family: 宋体,arial}
.myshopcar{height: 40px;width: 200px;float: left;margin-left: 73px;}
.myshopcar li{float: left;height: 40px;width: 100px;text-align: center;margin-top: 20px;}
.myshopcar li.car{background: #ff2832 url(../images/index_21.gif) no-repeat left;text-align:left;padding-left: 40px;width: 60px;}
.myshopcar li a{line-height: 40px;font-size: 14px;color: #fff;font-weight: bold;}
.myshopcar li.myorder{background: #f6f6f6;border: 2px solid #dcdcdc;border-left: none;width: 98px;height: 36px;}
.myshopcar li.myorder a{line-height: 36px;font-size: 14px;color: #646464;font-weight: bold;}
#nav{height: 40px;}
#nav .allcate{height: 40px;height: 40px;width: 185px;background: #ff2832;float: left;line-height: 40px;font-size: 14px;font-weight: bold;color: #ffffff;padding-left: 15px;}
#nav .allcate span{margin-left: 48px;}
#nav .nav {height: 40px;line-height: 40px;margin-left: 25px;float: left;}
#nav .nav li{float: left;padding: 0 15px;}
#nav .nav li a{color: #323232;font-size: 14px;font-weight: bold;}

/*.wrap   主体部分 最外部的容器
*************************************/
.wrap{width: 1200px;height: auto;margin: 0 auto;}

/*.firstsection 第一屏
*************************************/
.firstsection{height: 458px;}

.firstsection .catelist{width: 200px;background: #fafafa;height: 454px;padding-top: 4px;float: left;}
.firstsection .catelist li{height: 30px;line-height: 30px;padding-left: 15px;}
.firstsection .catelist li a{font-size: 14px;}
.firstsection .firstmain{width: 800px;height: 458px;float: left;}
.firstsection .firstmain .pic{width: 800px;height: 295px;border-left: 2px solid #e6e6e6;border-right: 2px solid #e6e6e6;border-bottom: 2px solid #e6e6e6;}
.scropics{border-bottom: 2px solid #e6e6e6;}
.scropics li{float: left;width: 198px;height: 160px;border-right: 2px solid #e6e6e6;}
.scropics li img{width: 198px;	height: 160px;}
.firstright{width: 198px;height: 457px;float: left;border: 1px solid #e6e6e6;border-top: none;}
.firstab1{width: 198px;height: 140px;}
.firstab1 .tabindex{height: 30px;}
.firstab1 .tabindex li{height: 28px;width: 98px;float: left;border: 1px solid #e6e6e6;border-left: none;line-height: 28px;text-align: center;font-size: 14px;background: #f0f0f0;cursor: pointer;}
.firstab1 .tabindex li.cur,.firstab2 .tabindex li.cur{height: 30px;border:none;background: #ffffff;}
.firstab1 .tabcon{height: 110px;}
.firstab1 .tabcon ul{	margin-top: 10px;margin-left: 10px;}
.firstab1 .tabcon ul li{height: 25px;line-height: 25px;padding-left: 10px;background: url(../images/index_39.gif) no-repeat left center;}
.firstab2{height: 118px;}
.firstab2 .tabindex li{height: 28px;width: 65px;float: left;border: 1px solid #e6e6e6;border-left: none;line-height: 28px;text-align: center;font-size: 14px;background: #f0f0f0;	cursor: pointer;}


/*.firstsection 第一屏   滚动图
*************************************/
#ppt1{width:800px; height:295px;float:left;overflow:hidden;background-color:#fff;position:relative;}
#ppt1 img{display:none;width:800px;}
#circle{position: relative;top: -30px;left: 600px;}
#circle li{float:left;width:20px;height:20px;line-height:20px;background-color:#d4d4d4;border-radius:10px;margin-left:10px;text-align:center;color:#fff;}
#circle li:first-child{background-color:#ff2832;}

#ppt2{width:800px;height:182px;float:left;background-color:#fff;}
#ppt2 span div{width:189px;height:175px;float:left;border-right:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;overflow:hidden;}

#pptpre{width:30px;height:65px;display:none;background:url(../images/home_sprite2_1017.png) 0px -103px;position:absolute;top:122px;opacity:0.2;filter:alpha(opacity=20)}
#pptnext{width:30px;height:65px;display:none;background:url(../images/home_sprite2_1017.png) -46px -103px;position:absolute;top:122px;right:0px;opacity:0.2;filter:alpha(opacity=20)}

/*.firstsection 第一屏   左侧菜单 #left_menu
*************************************/

#left_menu{position: relative}  /* 父元素增加 定位，则子元素相对于父元素进行定位 因此 扩展菜单位置比较准确。 */
#left_menu{float:left;background-color:#fafafa;}
#left_menu ul{float:left;}
#left_menu ul li{width:180px;color:#323232;font-family:"Microsoft Yahei";font-size:14px;padding-left:20px;}
#left_menu ul li .mask{ display:none;width:5px; height:30px; background:#FFFFFF; float:right; margin-right:0px; position:relative; z-index:15; }
#left_menu ul li.menu{width:180px;color:#323232;font-family:"Microsoft Yahei";font-size:14px;padding-left:20px;border:2px  solid red; border-right:none;}


.menu_1{border:2px solid #ff2832}
/* .left_menu_ext{width:762px;position: absolute;left: 285px;*left: 282px;background-color: #fff;display:none;z-index:100;}*/
.menu_1{width:762px;position: absolute;left: 200px;*left: 200px;top:0px;background-color: #fff;display:none;z-index:10;}
.menu_1 dl{width:260px;float:left;margin-right:25px;margin-left:35px;}
.menu_1 dl dt{color:#ff2832;font-size: 14px;font-weight: bold;font-family: "Microsoft Yahei";margin-left:5px;}
.menu_1 dl dd{margin-left:0px;width:310px;overflow:hidden;}
.menu_1 dl dd a{width:38px;height: 30px;line-height: 30px;background: url(http://img60.ddimg.cn/upload_img/00111/home/home_sprite_1507.png) no-repeat 0px -27px;display:block;float:left;text-align:center;margin-left:-1px;}


/*
.secondsection  第二屏
********************************************/
.secondsection{height: 497px;	margin-top: 30px;}
.secondsection .sectiontitle{height: 40px;border-bottom: 2px solid #ff2832;line-height: 40px;font-weight: normal;padding-left: 5px;}
.secondsection .sectiontitle .maintitle{font-size: 20px;color: #ff2832;}
.secondsection .secright{width: 240px;float: right;font-size: 20px;color: #ff2832;}
.secondsection .secright .dot1,.secondsection .secright .dot2{width: 20px;height: 40px;float: left;cursor: pointer;}
.secondsection .secright .dot1{background: url(../images/index_48.gif) no-repeat center;}
.secondsection .secright .dot2{background: url(../images/index_49.gif) no-repeat center;margin-right: 5px;}
.secondsection .secondcontent{height: 456px;border-left:1px solid #e6e6e6;overflow: hidden;}
.secondsection .secondcontent .secondleft{width: 1000px;float: left;overflow: hidden;height: 456px;}
.secondsection .secondcontent .secondleft li{width: 199px;height: 207px;border-right:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;float: left;text-align: center;padding-top: 20px;position: relative;}
.secondsection .secondcontent .secondleft li a img{margin: 0 auto}
.secondsection .secondcontent .secondleft li .title1,.secondsection .secondcontent .secondleft li .title2{display: block;text-align: left;padding-left: 20px;}
.secondsection .secondcontent .secondleft li .title2{color: #ff2832;font-size: 14px;}
.secondsection .secondcontent .secondleft li .title2 a{color: #ff2832;}
.secondsection .secondcontent .secondleft li .title1{margin-top: 5px;}
.secondsection .secondcontent .secondleft li .xianshi{position: absolute;left: 0;top: 153px;}
.secondright{width: 199px;float: left;}
.secondright li{width: 198px;border-right:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;height: 113px;overflow: hidden;}
/*
.secondsection  第三屏
********************************************/
.thirdsection{margin-top: 30px;}
.thirdsection .sectiontitle{height: 40px;line-height: 40px;font-weight: normal;padding-left: 5px;}
.thirdtitle_right{float: right;}
.thirdtitle_right a{font-weight: normal;font-size: 14px;}
.thirdcon{height: 512px;border-top:1px solid #e6e6e6;border-left:1px solid #e6e6e6;}
.thirdcon .third1{float: left;width: 190px;height: 512px;}
.thirdcon .third1 li{width: 189px;overflow: hidden;}
.thirdcon .third11{border-right:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;height: 254px;}
.thirdcon .third11 img{width: 189px;height: 254px;}
.thirdcon .third12{border-right:1px solid #e6e6e6;border-bottom:1px dashed #e6e6e6;height: 129px;}
.thirdcon .third12 img{width: 189px;height: 130px;}
.thirdcon .third13{border-right:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;height: 127px;}
.thirdcon .third13 img{width: 189px;height: 126px;}
.third2{width: 439px;height: 100%;background: #ccc;float: left;overflow: hidden;}
.third2 .third21{width: 438px;height: 254px;border-right:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;overflow: hidden;}
.third2 .third22{width: 439px;height: 256px;border-right:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;overflow: hidden;}
.third2 .third22  li{float: left;width: 146px;overflow: hidden;}
.third3{width: 570px;height: 100%;float: left;}
.third3 li{width: 189px;border-right:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;height: 255px;float: left;}



.fourth{height: 600px;margin-top: 30px;}
.fourth .sectiontitle{height: 39px;line-height: 39px;font-weight: normal;padding-left: 5px;border-bottom:1px solid #e6e6e6;}
.fourthcon{height: 560px;border-left:1px solid #e6e6e6;border-right:1px solid #e6e6e6;width: 1198px;overflow: hidden;}
.fourthcon ul{width: 1200px;}
.fourthcon li{float: left;width: 199px;height: 279px;border-right:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;float: left;}
.fourthcon li img{width: 199px;height: 279px;}


.fifth{height: 382px;margin-top: 30px;}
.fifth .sectiontitle{height: 39px;border-bottom:1px solid #e6e6e6;}
.fifth .sectiontitle .maintitle{width: 187px;height: 39px;float: left;background: url(../images/index_73.gif) no-repeat right center;}
.fifth .sectiontitle .maintitle a{font-size: 20px;line-height: 39px;font-weight: bold;}
.fifth .sectiontitle .subtitle{height: 39px;line-height: 39px;}
.fifth .sectiontitle .subtitle li{float: left;height: 39px;padding-left: 15px;padding-right: 25px;background: url(../images/index_75.gif) no-repeat right center;}
.fifth .sectiontitle .subtitle li .subtitle1{font-size: 16px;font-weight: bold;}
.fifth .sectiontitle .subtitle li .subtitle2{font-size: 14px;font-weight: normal;margin-left: 5px;}
.fifthcon{border-left:1px solid #e6e6e6;height: 342px;}
.fifthcon .fifth1{width: 400px;float: left;height: 342px;overflow: hidden;}
.fifthcon .fifth1 li{float: left;width: 199px;height: 170px;border-right:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;overflow: hidden;}
.fifthcon .fifth2{width: 398px;height: 341px;border-right:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;overflow: hidden;float: left;}

.book{height: 499px;margin-top: 30px;}
.book .bookleft{width: 909px;height: 499px;float: left;}
.book .bookleft .lefttitle{height: 46px;float: left;}
.book .bookleft .lefttitle .maintitle{width: 448px;height: 44px;float: left;border-bottom: 2px solid #000000;line-height: 44px;}
.book .bookleft .lefttitle .maintitle a{color: #000000;font-size: 20px;font-weight: bold;}
.book .bookleft .righttitle{height: 44px;float: left;width: 461px;border-bottom: 2px solid #000000;line-height: 43px;}
.tabtitle{position: relative;}
.tabtitle li{position: relative;float: left;width: 114px;height: 43px;border-top: 1px solid #e6e6e6;border-right: 1px solid #e6e6e6;text-align: center;font-size: 14px;background: #f5f5f5;}
.tabtitle li a{position: absolute;	font-size: 14px;display: block;width: 100%;height: 43px;}
.tabtitle li.tabtitlecur{width: 111px;border-left: 2px solid #000;border-right: 2px solid #000;border-top: 2px solid #000;height: 42px;}
.tabtitle li.tabtitlecur a{height: 45px;background: #fff;}
.bookleftcon{height: 442px;border-top: 1px solid #e6e6e6;border-left: 1px solid #e6e6e6;}
.bookleftcon .book1{width: 238px;height: 441px;border-right: 1px solid #e6e6e6;border-bottom: 1px solid #e6e6e6;float: left;overflow: hidden;}
.bookleftcon .book1_top{height: 330px;overflow: hidden;}
.bookleftcon .book1_bottom{height: 110px;padding-left: 20px;}
.bookleftcon .book1_bottom ul li{float: left;width: 70px;height: 28px;line-height: 28px;}
.bookleftcon .book2{width: 336px;height: 100%;float: left;}
.bookleftcon .book2 .book2_top{width: 335px;height: 220px;border-right: 1px solid #e6e6e6;}
.bookleftcon .book2 .book2_bottom{height: 221px;}
.bookleftcon .book2 .book2_bottom ul li{width: 166px;height:221px;float: left;border-bottom: 1px solid #e6e6e6;border-right: 1px solid #e6e6e6;}
.book .info,.book .price{padding-left: 10px;}
.book .info{height: 28px;}
.book .price .priceleft{font-size: 14px;margin-right: 10px;color: #ff2832;}
.book .price .priceright{text-decoration: line-through;}
.book3{width: 333px;	height: 100%;float: left;}
.book3 ul li{width: 165px;height:221px;float: left;border-bottom: 1px solid #e6e6e6;border-right: 1px solid #e6e6e6;}
.bookright{height: 100%;width: 279px;float: right;}
.bookright .tabindex{height: 48px;}
.bookright .tabindex li{height: 46px;float: left;line-height: 46px;width: 138px;border:1px solid #e6e6e6;background: #f5f5f5;text-align: center;font-size: 16px;}
.bookright .tabindex li.tabcur{background: #ffffff;border-bottom: none;}
.rightcontent{width: 277px;height: 441px;padding-top: 10px;border:1px solid #e6e6e6;border-top: none;}
.rightcontent ul li{height: 32px;padding-left: 15px;line-height: 32px;}
.rightcontent ul li span{display: inline-block;height: 32px;line-height: 32px;width: 26px;float: left;color: #ff2832;}
.rightcontent ul li  a{display: inline-block;height: 32px;line-height: 32px;width: 216px;float: left;border-bottom:1px solid #e6e6e6;padding-right: 20px;overflow: hidden;}
 /* .rightcontent ul li.cur a{height: 132px;}*/
 .rightcontent ul li a.mline{display:none;}
 .rightcontent ul li.cur a.mline{height: 132px;display:block}
 .rightcontent ul li.cur a.sline{display:none;}
 
 
.rightcontent ul li  a .bookinfo{height: 132px;}
.rightcontent ul li  a .bookinfo img{float: left;}
.rightcontent ul li  a .bookdetail{width: 127px;height: 132px;float: left;}
.rightcontent ul li  a .bookdetail h4{font-weight: normal;}
.rightcontent ul li  a .bookdetail p{line-height: 1.5rem;color: #969696}
.childbook{height: 429px;margin-top: 30px;}
.childbook .sectiontitle .maintitle{width: 60px;}
.childbookcon{height: 390px;border-left: 1px solid #e6e6e6;}
.childbook1{width: 221px;height: 100%;float: left;}
.childbook1 li{width: 220px;height: 194px;border-right: 1px solid #e6e6e6;border-bottom: 1px solid #e6e6e6;}
.childbook2{width: 315px;height: 389px;border-right: 1px solid #e6e6e6;border-bottom: 1px solid #e6e6e6;float: left;}
.childbook3{width: 661px;height: 390px;float: left;overflow: hidden;border-right: 1px solid #e6e6e6;}
.childbook3 ul{width: 663px;height: 390px;float: left;}
.childbook3 li{width: 220px;height: 194px;border-right: 1px solid #e6e6e6;border-bottom: 1px solid #e6e6e6;float: left;}
.footer{margin-top: 35px;border-top: 2px solid #ff2832;}
.footertop{	height: 78px;border-bottom:  1px solid #e6e6e6;background: #fafafa}
.footertopmain{width: 915px;margin: 0 auto;}
.footertopmain li{float: left;}
.footermain{height: 170px;border-bottom:  1px solid #e6e6e6;}
.footermain_main{width: 900px;margin: 0 auto;}
.footermain_main dl{width: 150px;float: left;margin-top: 40px;text-align: center;}
.footermain_main dl dt{height: 2em;font-weight: normal;font-size: 14px;color: #000;}
.footermain_main dl dd{height: 1.5em;}
.link{line-height: 2em;text-align: center;margin-top: 3px;}
.link span{margin: 0 5px;}
.copyright p{text-align: center;margin-top: 5px;}
.icons li{float: left;}
.icons{width: 440px;margin:  0 auto;margin-top: 10px;}
