<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<settings>
    <eConLineJumpCode>7</eConLineJumpCode>
    <eConLineJumpStyle>3</eConLineJumpStyle>
    <eJumpDirX>1</eJumpDirX>
    <eJumpDirY>2</eJumpDirY>
    <fJumpSize>6</fJumpSize>
    <uDrawFlags>0</uDrawFlags>
    <uSnapFlags>767</uSnapFlags>
    <bShowGrid>1</bShowGrid>
    <bShowRuler>1</bShowRuler>
    <fMouseSensitive>1.5</fMouseSensitive>
    <fGridSnapDist>6</fGridSnapDist>
    <fVertexSnapeDist>8</fVertexSnapeDist>
    <fConnectSnapeDist>10</fConnectSnapeDist>
    <fGuideLineSnapDist>12</fGuideLineSnapDist>
    <fAsideLineSnapDist>12</fAsideLineSnapDist>
    <fAsideLineDisplayDist>6</fAsideLineDisplayDist>
    <fMinValidDist>5</fMinValidDist>
    <fMinValidSize>10</fMinValidSize>
    <fAngle15SnapDist>80</fAngle15SnapDist>
    <fAngle10SnapDist>120</fAngle10SnapDist>
    <fAngle5SnapDist>160</fAngle5SnapDist>
    <fAngle1SnapDist>220</fAngle1SnapDist>
    <fConLineMinDis>6</fConLineMinDis>
    <sndAutoSaveElapse>300</sndAutoSaveElapse>
    <fHideCptsMinSize>21</fHideCptsMinSize>
    <bCheckForUpdatesAtStart>0</bCheckForUpdatesAtStart>
    <nUndoLevel>60</nUndoLevel>
    <nRecentFiles>4</nRecentFiles>
    <bAntiAlias>1</bAntiAlias>
    <bTextAntiAlias>1</bTextAntiAlias>
    <bShowTipOfDay>0</bShowTipOfDay>
    <bShowGallery>1</bShowGallery>
    <uPaperSizeIndex>13</uPaperSizeIndex>
    <uPageUnit>0</uPageUnit>
    <clrPaper>16777215</clrPaper>
    <clrPaperBk>12290660</clrPaperBk>
    <clrDockPaneBk>12488556</clrDockPaneBk>
    <clrFullScreenBk>0</clrFullScreenBk>
    <fontname>宋体</fontname>
    <fontsize>10</fontsize>
    <fRectWidth>140</fRectWidth>
    <fRectHeight>140</fRectHeight>
    <fRoundRectWidth>140</fRoundRectWidth>
    <fRoundRectHeight>140</fRoundRectHeight>
    <fRoundRadius>16</fRoundRadius>
    <fEllipseWidth>140</fEllipseWidth>
    <fEllipseHeight>140</fEllipseHeight>
    <fPolygonRadius>70</fPolygonRadius>
    <nPolygonEageNum>5</nPolygonEageNum>
    <fStarInterRadius>35</fStarInterRadius>
    <fStarOuterRadius>70</fStarOuterRadius>
    <nStarVertexNum>5</nStarVertexNum>
    <bHelixClockWise>1</bHelixClockWise>
    <fHelixDecreasePer>0.8</fHelixDecreasePer>
    <fHelixRadius>70</fHelixRadius>
    <nHelixSegNum>10</nHelixSegNum>
    <fArcRate>0.55</fArcRate>
    <fArcWidth>140</fArcWidth>
    <fArcHeight>70</fArcHeight>
    <bArcClosed>0</bArcClosed>
    <fLineLength>140</fLineLength>
    <fLineAngle>45</fLineAngle>
</settings>
