/* CSS Document */
div{
    border:1px solid #ff0000;
    width:1400px;
    height:1400px;
    /*background-color:#00ff00;*/
    background-image:url(../imgs/2.jpg); /*背景图的路径 是从 样式文件算起的。*/
    background-repeat:repeat-x;   /* 仅 横向平铺 */
    background-position: -180px  0px; /* 背景图定位 */
}

