<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
</head>

<body>
<br />------------自定义修饰符------------<br />
<{$str|fun1}>

<br />------------自定义单标记------------<br />
<{demo size="30" color="red" content="我很爱国"}>
<br />------------自定义双标记------------<br />
<{test color="red"}>
	你也很爱国
<{/test}>
</body>
</html>
