<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
</head>
<style type="text/css">
	tr{
		font-size:12px;
		line-height:25px;
	}
</style>
<body>
<table align="center" border="1" cellpadding="0" cellspacing="0" width="800">
	<tr align="center">
		<td>部门名称</td>
		<td>部门负责人</td>
		<td>部门负责人电话</td>
		<td>操作</td>
	</tr>
	<{section name=key loop=$rows}>
	<tr align="center">
		<td><{$rows[key].cdName}></td>
		<td><{$rows[key].clName}></td>
		<td><{$rows[key].clTel}></td>
		<td>
		<a href="deptAction.php?action=delete&cdId=<{$rows[key].cdId}>">删除 </a>
		|
		<a href="deptUpdate.php?cdId=<{$rows[key].cdId}>">修改</a>
		</td>
	</tr>
	<{/section}>
</table>
</body>
</html>
