<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
</head>
<style type="text/css">
	tr{ font-size:12px; line-height:30px;}
</style>
<body>
<{$rs.ceId}>
<form action="empAction.php?action=update&ceId=<{$rs.ceId}>" method="post" enctype="multipart/form-data">
<table align="center" border="1" cellpadding="0" cellspacing="0" width="800">
	<tr>
		<td align="right">员工姓名</td>
		<td><input type="text" name="ceName" value="<{$rs.ceName}>"></td>
	</tr>
	<tr>
		<td align="right">所在部门</td>
		<td>
			<select name="cdId">
				<option value="-1">请选择部门</option>
				<{$html_1}>
			</select>
		</td>
	</tr>
	<tr>
		<td align="right">负责人</td>
		<td>
			<select name="clId">
				<option value="-1">请选择负责人</option>
				<{$html_2}>
			</select>
		</td>
	</tr>
	<tr>
		<td align="right">邮箱</td>
		<td><input type="text" name="ceEmail" value="<{$rs.ceEmail}>"></td>
	</tr>
	<tr>
		<td align="right">电话</td>
		<td><input type="text" name="ceTel" value="<{$rs.ceTel}>"></td>
	</tr>
	<tr>
		<td align="right">原图</td>
		<td><img src="<{$rs.cePic}>" width="40" height="30"></td>
	</tr>
	<tr>
		<td align="right">照片</td>
		<td><input type="file" name="cePic"></td>
	</tr>
	<tr>
		<td align="center" colspan="2"><input type="submit" value="修改员工"></td>
	</tr>
</table>
</form>
</body>
</html>
