/* CSS Document */
#dv{
	border:1px solid #ff0000;
	width:400px;  
	height:400px; 
	/*padding: 50px 0px 0px 100px;*/
	/*padding:50px;*/
}
#dv1{
	border:1px solid #ff0000;
	width:100px;
	height:100px;
        /*padding: 50px 0px 0px 100px;*/
	/*margin: 50px 0px 0px 100px;*/
	/*margin:50px;*/
	margin:auto; /* 水平居中 */
	
}
