/* CSS Document */
div{
	border:1px solid #ff0000;
	width:400px;
	height:400px;
	font-size:40px;
	color:#00CCFF;
	/*font-style:italic;*/
	/*font-weight:bold;*/
	font-family:"隶书";
	text-align:center;
	line-height: 40px;
}
/* ie 浏览器支持 微软雅黑 谷歌不支持 */
.div1{
	font:italic bold 20px/80px arial,"微软雅黑";
        text-align:center;
        /*line-height:30px;*/
}
/* ul id=us */
#us{
	border:1px  solid #00ff00;
        text-decoration:line-through;
	/*list-style:none;*/
	list-style-image:url(../imgs/flag1.jpg);
}
#dv2{
	/* 给文字 加删除线 */
	/*text-decoration:line-through;*/
}
/*a{color:#FF0000; font-weight:bold; text-decoration:none;}*/
/* 去掉下划线写在 :link :hover 里面 text-decoration:none; */
a:link{color:#FF0000;}
a:visited{color:#0000ff;} 
a:hover{color:#FFcc00;}
a:active{color:#00FF00;}
















